<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

    <body>
    <main>
      <p class="message bg-green-400 text-white text-center"><%= notice%></p>
      <p class="message bg-orange-300 text-white text-center"><%= alert %></p>
      <%= yield %>
    </main>

    <script>
      document.querySelectorAll('.message')
      .forEach(el => {
      setTimeout(() => {
      el.style.display = 'none'
      }, 3000)
      });

      document.querySelectorAll('.section')
      .forEach(el => {
      el.addEventListener('click', (e) => {
      const answer = e.currentTarget.children[2]
      if (e.target.classList.contains('question')) {
      answer.classList.toggle('hidden');
      }
      })
      });

      const copyButton = document.querySelector(".copy-button");
      const copy = document.querySelector(".referral-link");
      // This is the function we wrote earlier
      async function copyTextToClipboard(text) {
      if ("clipboard" in navigator) {
      return await navigator.clipboard.writeText(text);
      } else {
      return document.execCommand("copy", true, text);
      }
      }

      const handleCopyClick = () => {
      copyTextToClipboard(copy.value)
      .then(() => {
      // If successful, update the button text to 'Copied!'
      copyButton.innerHTML = "Copied!";

      // Reset the button text to 'Copy link' after a delay
      setTimeout(() => {
      copyButton.innerHTML = "Copy link";
      }, 1500);
      })
      .catch((err) => {
      console.log(err);
      });
      };
    </script>
  </body>
</html>
