<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body>
    <main>
      <p class="message"><%= notice%></p>
      <p class="message"><%= alert %></p>
      <%= yield %>
    </main>

    <script>
      document.querySelectorAll('.message')
      .forEach(el => {
      setTimeout(() => {
      el.style.display = 'none'
      }, 3000)
      })

      document.querySelectorAll('.section')
      .forEach(el => {
        el.addEventListener('click', (e) => {
        const answer = e.currentTarget.children[2]
        if (e.target.classList.contains('question')){
          answer.classList.toggle('hidden');
        }
        })
      })
      
    </script>
  </body>
</html>
